{% extends "headers.html" %}
{% block body %}

{% if not threads %}
	<div id="no_threads">There are no threads yet, go ahead and start writing</div><br />
{% endif %}

<div class="thread_odd">
	<div class="author">Author</div><div class="title">Title</div><div class="date">Created</div>
</div>
{% for thread in threads %}
	<div class="{{ loop.cycle('thread_even', 'thread_odd') }}">
	<div class="author">{{thread.author}}
	</div><a class="title" href="/thread/{{thread.id}}">{{thread.title}}
	</a><div class="date">{{thread.date}}</div></div>
{% endfor %}
<br />
Post New Thread
<form name="input" action="/new" method="post">
	<div class="label">Name</div><input type="text" name="name" maxlength="50"/><br />
	<div class="label">Title</div><input type="text" name="title" maxlength="100"/><br />
	<div class="label">Body</div><textarea rows="15" cols="60" name="body"></textarea>
	<input type="submit" value="Post">
</form>
{% endblock %}
