{% extends "headers.html" %}
{% block body %}

<h2> {{currentThread.title}} </h2>
{% if not currentThread.posts %}
	<div id="no_threads">There are no replies yet, write something!</div><br />
{% endif %}

<div id="thread_head">OP: {{currentThread.author}} |  {{currentThread.body}}</div>

{% for post in currentThread.posts %}
	<div class="{{ loop.cycle('thread_odd', 'thread_even') }}">
	{{loop.index}}: {{post.author}} | {{post.body}}</div>
{% endfor %}

Reply: <br />
<form name="input" action="/thread/{{currentThread.id}}/new" method="post">
	Name: <input type="text" name="name" maxlength="50" /><br />
	Body:<br />
	<textarea rows="15" cols="60" name="body"></textarea><br />
	<input type="submit" value="Post">
</form>
{% endblock %}
