{% extends "headers.html" %}
{% block body %}

<h2> Title - {{currentThread.title}} </h2>

{% if not currentThread.posts %}
	<div id="no_threads">There are no replies yet, write something!</div><br />
{% endif %}

<div class="thread_odd">
        <div class="author">{{currentThread.author}} [OP]<br />Posted: {{currentThread.date}}
	</div><div class="body">{{currentThread.body}}</div>
</div>

{% for post in currentThread.posts %}
	<div class="{{ loop.cycle('thread_even', 'thread_odd') }}">
        <div class="author">{{post.author}}<br />Posted: {{post.date}}
	</div><div class="body">{{post.body}}</div></div>
{% endfor %}
<br />
Reply:
<form name="input" action="/thread/{{currentThread.id}}/new" method="post">
        <div class="label">Name</div><input type="text" name="name" maxlength="50"/><br />
        <div class="label">Body</div><textarea rows="15" cols="60" name="body"></textarea>
        <input type="submit" value="Post">
</form>
{% endblock %}
